*,
*:before,
*:after{
    box-sizing:border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
    font-family: Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
.page{
    flex:1;
}
.main__footer{
    background: linear-gradient(to right,#34BF50,#2F829d);
    color: rgba(255,255,255,0.8);
    padding: 2rem;

}
